# Pandas Tutorial
This tutorial covers the fundamental concepts of Pandas, a powerful data manipulation library in Python.

## Introduction
Pandas is a Python library used for data analysis and manipulation. It provides powerful tools for working with structured data.

In [ ]:
import pandas as pd
import numpy as np

## Creating Data Structures
Pandas has two main data structures:
- **Series**: A one-dimensional labeled array.
- **DataFrame**: A two-dimensional table-like structure.

In [ ]:
# Creating a Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

## Reading and Writing Data
Pandas supports reading from and writing to various file formats such as CSV and Excel.

In [ ]:
# Reading from a CSV file
# df = pd.read_csv('data.csv')  # Uncomment when using a real file

# Writing to a CSV file
# df.to_csv('output.csv', index=False)

## Indexing and Selecting Data
You can select data in a DataFrame using **loc** and **iloc**.

In [ ]:
# Selecting data using loc and iloc
print(df.loc[0, 'Name'])  # Access by label
print(df.iloc[1, 1])  # Access by position

## Filtering Data
Filtering allows you to extract specific rows based on conditions.

In [ ]:
# Filtering DataFrame
filtered_df = df[df['Age'] > 25]
print(filtered_df)

## Handling Missing Data
Pandas provides functions to handle missing values efficiently.

In [ ]:
# Handling missing values
df_missing = pd.DataFrame({'A': [1, np.nan, 3], 'B': [4, 5, np.nan]})
print('Original DataFrame:')
print(df_missing)

# Filling missing values
df_filled = df_missing.fillna(0)
print('Filled DataFrame:')
print(df_filled)

## Grouping and Aggregation
The `groupby()` function allows us to group data and perform aggregate operations.

In [ ]:
# Grouping and Aggregation
data = {'Category': ['A', 'A', 'B', 'B'], 'Values': [10, 20, 30, 40]}
df_group = pd.DataFrame(data)
grouped = df_group.groupby('Category').sum()
print(grouped)

## Merging, Joining, and Concatenation
Pandas allows combining multiple DataFrames using `merge()` and `concat()`.

In [ ]:
# Merging DataFrames
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'Score': [85, 90]})
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

## Sorting and Ranking
Sorting and ranking functions help in organizing the data.

In [ ]:
# Sorting DataFrame
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

## Apply Function and Lambda Operations
The `apply()` function allows applying a function to DataFrame columns.

In [ ]:
# Apply function
df['Age Squared'] = df['Age'].apply(lambda x: x ** 2)
print(df)

## Time Series Analysis
Pandas provides powerful tools to work with time-series data.

In [ ]:
# Creating a time series DataFrame
date_rng = pd.date_range(start='2024-01-01', periods=5, freq='D')
df_time = pd.DataFrame({'Date': date_rng, 'Value': [10, 20, 30, 40, 50]})
df_time.set_index('Date', inplace=True)
print(df_time)

## Summary
This tutorial covered the most important Pandas functions, including:
- Creating DataFrames and Series
- Reading and writing data
- Indexing, selecting, and filtering
- Handling missing values
- Grouping and aggregation
- Merging, joining, and concatenation
- Sorting, ranking, and applying functions
- Time series analysis

Pandas is a powerful tool for data analysis, and mastering these concepts will greatly enhance your ability to work with data effectively!